//main: style.less
.activity {
  margin-top: 3rem;
  height: 100rem;
  position: relative;
}

.transparent_text {
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  position: absolute;
  left: -5%;
  top: -5%;
  background:@text_gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 7.5rem;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 3px;
  opacity: .05;
}